In [1]:
import numpy as np
import pandas as pd

In [21]:
data = {'eng': [10, 30, 50, 20],
       'kor': [20, 40, 60, 80],
       'math': [90, 50, 20, 70]}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   20   80    70

In [22]:
# 차원
df.ndim

2

In [23]:
# 형태
df.shape

(4, 3)

In [24]:
# 행의 개수
len(df)
df.shape[0]

4

In [25]:
# 열의 개수
df.shape[1]

3

In [26]:
# 행, 열 교환
df.T

       a   b   c   d
eng   10  30  50  20
kor   20  40  60  80
math  90  50  20  70

In [27]:
# 데이터 수
df.size

12

In [28]:
# 인덱스
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [29]:
# 컬럼
df.columns
df.keys()

Index(['eng', 'kor', 'math'], dtype='object')

In [30]:
# 값 ndarray 반환
df.values

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [20, 80, 70]])

In [31]:
# 데이터 타입(컬럼별 데이터 타입)
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [36]:
# 데이터 타입 변경
# 결과 반영하려면 변수로 받아야한다.
df['eng'].astype(np.int8)
df['eng'].astype('int8')

a    10
b    30
c    50
d    20
Name: eng, dtype: int8

In [47]:
# 문자열을 숫자형으로 변경
df2 = pd.DataFrame({'science': ['40', '80' , '90']})
display(df2)
print(df2.dtypes
     )
df2 = df2.apply(pd.to_numeric)
display(df2)
print(df2.dtypes)

  science
0      40
1      80
2      90

science    object
dtype: object

   science
0       40
1       80
2       90

science    int64
dtype: object

In [37]:
# 데이터 관련 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 288.0+ bytes

In [38]:
# 통계 요약 정보
df.describe()

             eng        kor       math
count   4.000000   4.000000   4.000000
mean   27.500000  50.000000  57.500000
std    17.078251  25.819889  29.860788
min    10.000000  20.000000  20.000000
25%    17.500000  35.000000  42.500000
50%    25.000000  50.000000  60.000000
75%    35.000000  65.000000  75.000000
max    50.000000  80.000000  90.000000

In [55]:
for a, _ in df.items(): # 컬럼명
    print(a)

eng
kor
math

In [56]:
for _, b in df.items(): # 컬럼별 데이터
    print(b)

a    10
b    30
c    50
d    20
Name: eng, dtype: int64
a    20
b    40
c    60
d    80
Name: kor, dtype: int64
a    90
b    50
c    20
d    70
Name: math, dtype: int64

In [57]:
for a, _ in df.iterrows(): # 부여된 인덱스
    print(a)

a
b
c
d

In [58]:
for _, b in df.iterrows(): # 로우별 데이터 
    print(b)

eng     10
kor     20
math    90
Name: a, dtype: int64
eng     30
kor     40
math    50
Name: b, dtype: int64
eng     50
kor     60
math    20
Name: c, dtype: int64
eng     20
kor     80
math    70
Name: d, dtype: int64