In [1]:
import numpy as np
import pandas as pd

### 인덱싱
- 행, 열 모두 인덱싱할 때는 반드시 iloc, loc 사용

In [2]:
data = {'eng': [10, 30, 50, 70],
       'kor': [20, 40, 60, 80],
       'math': [90, 50 ,20 ,70]}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [3]:
# 컬럼명으로 인덱싱
# 시리즈 반환
df['eng']

a    10
b    30
c    50
d    70
Name: eng, dtype: int64

In [5]:
# 데이터프레임 반환
df[['eng']]

   eng
a   10
b   30
c   50
d   70

In [6]:
# 복수개 선택
df[['eng', 'math']]

   eng  math
a   10    90
b   30    50
c   50    20
d   70    70

In [11]:
# row별 선택
# 시리즈 반환
df.loc['a']
df.iloc[0]

eng     10
kor     20
math    90
Name: a, dtype: int64

In [12]:
# 데이터 프레임반환
df.loc[['a']]
df.iloc[[0]]

   eng  kor  math
a   10   20    90

In [34]:
# 행, 열 선택
# df[0, 1] -> 에러
df.iloc[0, 1]
df.loc['a', 'kor']

20

### 슬라이싱 -> 인덱스로만 가능 컬럼명으로 불가
- 부여된 인덱스가 숫자일시 반드시 iloc, loc 사용
- 행, 열 슬라이싱할 때는 반드시 iloc, loc 사용

In [20]:
# 부여된 인덱스로 슬라이싱시 끝 포함
# 모두 같은 결과
df[:'b'] 
df[:2]
df.loc[:'b']
df.iloc[:2]

   eng  kor  math
a   10   20    90
b   30   40    50

In [31]:
df.iloc[0, 1]

20

In [37]:
# 행, 열 슬라이싱
# df[:, :-1] -> 에러
df.iloc[:, :-1]
df.loc[:, :'kor']

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80