In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 통계함수 -> default(axis=0): column별, axis=1: row별

In [50]:
data = {'eng': [10, 30, 50 ,70],
       'kor': [20, 40, 60, 80],
       'math': [90, 50, 20, 70]}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [6]:
# 컬럼별 합
df.sum()

eng     160
kor     200
math    230
dtype: int64

In [7]:
# 로우별 합
df.sum(axis=1)

a    120
b    120
c    130
d    220
dtype: int64

In [11]:
# 전체합
df.sum().sum()
df.values.sum()

590

In [14]:
# 컬럼별 평균
df.mean()

eng     40.0
kor     50.0
math    57.5
dtype: float64

In [8]:
# 컬럼별 누적
df.cumsum()

   eng  kor  math
a   10   20    90
b   40   60   140
c   90  120   160
d  160  200   230

In [9]:
# 로우별 누적
df.cumsum(axis=1)

   eng  kor  math
a   10   30   120
b   30   70   120
c   50  110   130
d   70  150   220

In [13]:
# 시리즈로 변환(멀티 인덱스)
df.unstack()

eng   a    10
      b    30
      c    50
      d    70
kor   a    20
      b    40
      c    60
      d    80
math  a    90
      b    50
      c    20
      d    70
dtype: int64

In [23]:
# 컬럼별 최대값
df.max()

eng     70
kor     80
math    90
dtype: int64

In [27]:
# 컬럼별 최소값
df.min()

eng     10
kor     20
math    20
dtype: int64

In [30]:
# 컬럼별 최대값 부여된 인덱스
df.idxmax()

eng     d
kor     d
math    a
dtype: object

In [39]:
# 컬럼별 중앙값
df.median()

eng     40.0
kor     50.0
math    60.0
dtype: float64

In [40]:
# 컬럼별 분산
df.var()

eng     666.666667
kor     666.666667
math    891.666667
dtype: float64

In [41]:
# 컬럼별 표준편차
df.std()

eng     25.819889
kor     25.819889
math    29.860788
dtype: float64

In [42]:
# 컬럼별 25%, 50%, 75%
df.quantile([0.25, 0.5, 0.75])

       eng   kor  math
0.25  25.0  35.0  42.5
0.50  40.0  50.0  60.0
0.75  55.0  65.0  75.0

In [43]:
# 컬럼별 결측치를 제외한 데이터 개수
df.count()

eng     4
kor     4
math    4
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 288.0+ bytes

In [46]:
df.describe()

             eng        kor       math
count   4.000000   4.000000   4.000000
mean   40.000000  50.000000  57.500000
std    25.819889  25.819889  29.860788
min    10.000000  20.000000  20.000000
25%    25.000000  35.000000  42.500000
50%    40.000000  50.000000  60.000000
75%    55.000000  65.000000  75.000000
max    70.000000  80.000000  90.000000

In [48]:
# 특정 컬럼 기준 top3
df.nlargest(3, 'eng')

   eng  kor  math
d   70   80    70
c   50   60    20
b   30   40    50

In [49]:
# 특정 컬럼 기준 bottom3
df.nsmallest(3, 'eng')

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20