In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'eng': [10, 30, 50 ,70],
       'kor': [20, 40, 60, 80],
       'math': [90, 50, 20, 70]}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [22]:
def fn(x):
    print('='*24)
    print(x)
    print('='*24)

In [23]:
df.apply(fn) # -> 컬럼별 데이터

========================
a    10
b    30
c    50
d    70
Name: eng, dtype: int64
========================
========================
a    20
b    40
c    60
d    80
Name: kor, dtype: int64
========================
========================
a    90
b    50
c    20
d    70
Name: math, dtype: int64
========================

eng     None
kor     None
math    None
dtype: object

In [24]:
df.apply(fn, axis=1) # -> 로우별 데이터

========================
eng     10
kor     20
math    90
Name: a, dtype: int64
========================
========================
eng     30
kor     40
math    50
Name: b, dtype: int64
========================
========================
eng     50
kor     60
math    20
Name: c, dtype: int64
========================
========================
eng     70
kor     80
math    70
Name: d, dtype: int64
========================

a    None
b    None
c    None
d    None
dtype: object

In [5]:
# 'a'행 값이 30보다 크면 합격 아니면 불합격
df.apply(lambda x: '합격' if x['a'] > 30 else '불합격')

eng     불합격
kor     불합격
math     합격
dtype: object

In [21]:
# 'eng'컬럼 값이 로부별 평귭보다 크면 합격 아니면 불합격
df.apply(lambda x: '합격' if x['eng'] > x.mean(axis=0) else '불합격', axis=1)

a    불합격
b    불합격
c     합격
d    불합격
dtype: object