In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'aa': 10, 'bb': 20, 'cc': 30, 'dd': 40, 'ee': 50}
sr = pd.Series(data, name='점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 점수, dtype: int64

In [11]:
# 데이터 타입
sr.dtype

dtype('int64')

In [3]:
# dtype 변환
sr.astype(np.float32)

aa    10.0
bb    20.0
cc    30.0
dd    40.0
ee    50.0
Name: 점수, dtype: float32

In [4]:
# 차원 
sr.ndim

1

In [5]:
# 데이터 개수
sr.size

5

In [6]:
# 형태
sr.shape

(5,)

In [8]:
# 이름
sr.name

'점수'

In [9]:
# 인덱스 
sr.index

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')

In [10]:
# 값 
sr.values

array([10, 20, 30, 40, 50])