In [6]:
import numpy as np
import pandas as pd

### numpy와 거의 동일하다

### 산술 연산
- element wise(요소별 연산)

In [9]:
sr = pd.Series({'aa': 11, 'bb': 22, 'cc': 33, 'dd': 44, 'ee': 55})
sr

aa    11
bb    22
cc    33
dd    44
ee    55
dtype: int64

In [10]:
sr + 1

aa    12
bb    23
cc    34
dd    45
ee    56
dtype: int64

In [11]:
sr * 2

aa     22
bb     44
cc     66
dd     88
ee    110
dtype: int64

In [12]:
sr / 2

aa     5.5
bb    11.0
cc    16.5
dd    22.0
ee    27.5
dtype: float64

In [13]:
sr - 2

aa     9
bb    20
cc    31
dd    42
ee    53
dtype: int64

### 관계 연산

In [15]:
sr >= 30

aa    False
bb    False
cc     True
dd     True
ee     True
dtype: bool

In [17]:
# boolean indexing
sr[sr >= 30]

cc    33
dd    44
ee    55
dtype: int64

### 논리 연산
- and: &
- or: |
- not: ~

In [18]:
sr[(sr==22)|(sr==44)]

bb    22
dd    44
dtype: int64

In [19]:
sr[(sr>20)&(sr<50)]

bb    22
cc    33
dd    44
dtype: int64

In [26]:
# isin: numpy에도 있음 
sr[sr.isin([22, 55])]

bb    22
ee    55
dtype: int64

In [29]:
arr = np.array([1,2,3,4,5])
arr[np.isin(arr, (1, 5))]

array([1, 5])

In [30]:
# between: numpy에 없음
sr[sr.between(20, 50)]

bb    22
cc    33
dd    44
dtype: int64