In [1]:
import numpy as np
import pandas as pd

### 추가

In [11]:
sr = pd.Series({'aa': 11, 'bb': 22, 'cc': 33, 'dd': 44, 'ee': 55})
sr

aa    11
bb    22
cc    33
dd    44
ee    55
dtype: int64

In [12]:
# 해당 인덱스가 있으면 수정, 없으면 추가
sr.loc[10] = 300
sr['kk'] = 200
# sr[11] -> 에러
# sr.iloc[11] -> 에러
sr

aa     11
bb     22
cc     33
dd     44
ee     55
10    300
dtype: int64

In [17]:
# 시리즈를 시리즈에 추가할 경우
sr.append(pd.Series([77, 88, 99])) # 인덱스를 주지 않으면 0부터 순서대로 부여

aa     11
bb     22
cc     33
dd     44
ee     55
10    300
kk    200
0      77
1      88
2      99
dtype: int64

In [18]:
sr.append(pd.Series([77, 88, 99]), ignore_index=True) # ignore_index=True하면 인덱스를 reset시킨다

0     11
1     22
2     33
3     44
4     55
5    300
6    200
7     77
8     88
9     99
dtype: int64

### 수정

In [21]:
# 다 같은 결과
sr[1:3] = 1, 2
sr.iloc[1:3] = 1, 2
sr['bb':'cc'] = 1, 2
sr.loc['bb':'cc'] = 1, 2
sr

aa     11
bb      1
cc      2
dd     44
ee     55
10    300
kk    200
dtype: int64

### 삭제

In [24]:
sr.drop(['aa', 'bb']) # 부여된 인덱스로 해당 값 삭제
# 삭제된 결과를 반영시키기 위해서는 변수로 받거나 inplce인자를 True로 해줘야한다

cc      2
dd     44
ee     55
10    300
kk    200
dtype: int64

In [25]:
sr

aa     11
bb      1
cc      2
dd     44
ee     55
10    300
kk    200
dtype: int64

In [26]:
sr.drop(['aa', 'bb'], inplace=True)
sr

cc      2
dd     44
ee     55
10    300
kk    200
dtype: int64

In [35]:
# 조건으로 삭제
sr.drop(sr[sr>100].index)

cc     2
dd    44
ee    55
dtype: int64

### 정렬

In [37]:
sr = pd.Series({'aa': 100, 'bb': 20, 'cc': 50, 'dd': 200, 'ee':44})
sr

aa    100
bb     20
cc     50
dd    200
ee     44
dtype: int64

In [38]:
# 값을 기준으로 오름차순 정렬
# 결과를 반영하기 위해서는 변수로 받거나 inplace=True 해줘야 한다.
sr.sort_values()

bb     20
ee     44
cc     50
aa    100
dd    200
dtype: int64

In [39]:
# 값을 기준으로 내림 정렬
sr.sort_values(ascending=False)

dd    200
aa    100
cc     50
ee     44
bb     20
dtype: int64

In [40]:
# 인덱스 기준으로 오름차순 정렬
sr.sort_index()

aa    100
bb     20
cc     50
dd    200
ee     44
dtype: int64

In [41]:
# 인덱스 기준으로 내림차순 정렬
sr.sort_index(ascending=False)

ee     44
dd    200
cc     50
bb     20
aa    100
dtype: int64