In [1]:
import numpy as np
import pandas as pd

In [2]:
sr = pd.Series({'aa': 10, 'bb': 20, 'cc': 30, 'dd': 40, 'ee': 50})
sr

aa    10
bb    20
cc    30
dd    40
ee    50
dtype: int64

In [11]:
# 합계
sr.sum()

150

In [12]:
# 평균
sr.mean()

30.0

In [13]:
# 최대값
sr.max()

50

In [14]:
# 최소값
sr.min()

10

In [15]:
# 중앙값
sr.median()

30.0

In [16]:
# 분산
sr.var()

250.0

In [17]:
# 표준편차
sr.std()

15.811388300841896

In [18]:
# 최대값 인덱스 번호
sr.argmax()

4

In [19]:
# 최소값 인덱스 번호
sr.argmin()

0

In [22]:
# 최대값 부여된 인덱스
sr.idxmax()

'ee'

In [23]:
# 최소값 부여된 인덱스
sr.idxmin()

'aa'

In [26]:
# 위에서부터 2개, default 5개
sr.head(2)

aa    10
bb    20
dtype: int64

In [27]:
# 아래에서부터 2개, default 5개
sr.tail(2)

dd    40
ee    50
dtype: int64

In [38]:
sr[['cc', 'dd']] = 50
sr

aa    10
bb    20
cc    50
dd    50
ee    50
dtype: int64

In [39]:
# 값이 큰 순으로 2개, default 5개
# 같은 크기인 경우 인덱스 순으로
sr.nlargest(2)

cc    50
dd    50
dtype: int64

In [40]:
# 같은 크기인 경우 인덱스 역순으로
sr.nlargest(2, keep='last')

ee    50
dd    50
dtype: int64

In [41]:
# 같은 크기 모두 출력
sr.nlargest(2, keep='all')

cc    50
dd    50
ee    50
dtype: int64

In [43]:
# 값이 작은 순으로 
sr.nsmallest(2)

aa    10
bb    20
dtype: int64

In [44]:
# 25%, 50%, 75값
sr.quantile([0.25, 0.5, 0.75])

0.25    20.0
0.50    50.0
0.75    50.0
dtype: float64

In [47]:
# 중복 제거한 값 ndarray 반환
sr.unique()

array([10, 20, 50])

In [48]:
# 값 개수 카운트
sr.value_counts()

50    3
20    1
10    1
dtype: int64

### apply

In [49]:
# 값이 50이상이면 'a', 50미만이면 'b' 반환
sr.apply(lambda x: 'a' if x>=50 else 'b')

aa    b
bb    b
cc    a
dd    a
ee    a
dtype: object